Repository ds-pack/components, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š Documentation, ğŸ§ª Tests

Add build step (#90)
  README.md
  package.json
  packages/components/CHANGELOG.md
  packages/components/README.md
  packages/components/UPGRADE_GUIDE.md
  packages/components/package.json
  packages/components/scripts/build.js
  sandbox/babel.config.js
  sandbox/next.config.js
  sandbox/src/pages/_app.tsx
  yarn.lock
Labels: ğŸ“š Documentation

Use npm publish
  packages/components/package.json
Labels: none

WIP: rollup, babel
  packages/components/package.json
  packages/components/rollup.config.mjs
  yarn.lock
Labels: none

Babel config, ts config, lets-go
  packages/components/babel.config.js
  packages/components/babel.config.json
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/components/tsconfig.build.json
Labels: none

Add plugin to transform vanilla extract imports
  packages/babel-plugin-transform-vanilla-extract-imports/package.json
  packages/babel-plugin-transform-vanilla-extract-imports/src/index.js
  packages/components/babel.config.json
  packages/components/package.json
  yarn.lock
Labels: none

Server components compatible
  .yarn/cache/@next-env-npm-12.2.2-canary.0-7e05d2119b-11cfaba574.zip
  .yarn/cache/@swc-helpers-npm-0.4.2-163e00801e-0b8c86ad03.zip
  .yarn/cache/@vanilla-extract-esbuild-plugin-npm-2.1.0-5673aee08e-0f33a33552.zip
  .yarn/cache/esbuild-darwin-64-npm-0.14.49-55333913ef-8.zip
  .yarn/cache/esbuild-npm-0.14.49-8ea32c7f59-b718f4c9ea.zip
  .yarn/cache/postcss-npm-8.4.5-675038f8bb-b78abdd89c.zip
  .yarn/cache/styled-jsx-npm-5.0.2-aff4f13ebf-86d55819eb.zip
  .yarn/cache/tslib-npm-2.4.0-9cb6dc5030-8c4aa6a3c5.zip
  .yarn/cache/use-sync-external-store-npm-1.1.0-dcd59c7439-8993a0b642.zip
  packages/components/package.json
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Dropdown/Dropdown.tsx
  packages/components/src/ListItem.ts
  packages/components/src/Portal/Portal.tsx
  packages/components/src/RadioButton/RadioButton.tsx
  packages/components/src/themeClass.ts
  packages/components/src/useTapable.tsx
  sandbox/.vscode/settings.json
  sandbox/app/foo/page.tsx
  sandbox/app/layout.tsx
  sandbox/app/page.tsx
  sandbox/next.config.js
  sandbox/package.json
  sandbox/src/components/Link/Link.tsx
  sandbox/src/components/Link/index.ts
  sandbox/src/components/index.ts
  sandbox/src/pages/_app.tsx
  sandbox/src/pages/_document.tsx
  sandbox/src/pages/index.tsx
  sandbox/tsconfig.json
  yarn.lock
Labels: none

Make tests work
  packages/components/babel.config.js
  packages/components/babel.config.json
Labels: none

Split builds, server components compatible I think (#96)
  .yarn/cache/@next-env-npm-12.2.2-canary.0-7e05d2119b-11cfaba574.zip
  .yarn/cache/@swc-helpers-npm-0.4.2-163e00801e-0b8c86ad03.zip
  .yarn/cache/@vanilla-extract-esbuild-plugin-npm-2.1.0-5673aee08e-0f33a33552.zip
  .yarn/cache/esbuild-darwin-64-npm-0.14.49-55333913ef-8.zip
  .yarn/cache/esbuild-npm-0.14.49-8ea32c7f59-b718f4c9ea.zip
  .yarn/cache/postcss-npm-8.4.5-675038f8bb-b78abdd89c.zip
  .yarn/cache/styled-jsx-npm-5.0.2-aff4f13ebf-86d55819eb.zip
  .yarn/cache/tslib-npm-2.4.0-9cb6dc5030-8c4aa6a3c5.zip
  .yarn/cache/use-sync-external-store-npm-1.1.0-dcd59c7439-8993a0b642.zip
  packages/babel-plugin-transform-vanilla-extract-imports/package.json
  packages/babel-plugin-transform-vanilla-extract-imports/src/index.js
  packages/components/babel.config.js
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Dropdown/Dropdown.tsx
  packages/components/src/ListItem.ts
  packages/components/src/Portal/Portal.tsx
  packages/components/src/RadioButton/RadioButton.tsx
  packages/components/src/themeClass.ts
  packages/components/src/useTapable.tsx
  packages/components/tsconfig.build.json
  sandbox/.vscode/settings.json
  sandbox/app/foo/page.tsx
  sandbox/app/layout.tsx
  sandbox/app/page.tsx
  sandbox/next.config.js
  sandbox/package.json
  sandbox/src/components/Link/Link.tsx
  sandbox/src/components/Link/index.ts
  sandbox/src/components/index.ts
  sandbox/src/pages/_app.tsx
  sandbox/src/pages/_document.tsx
  sandbox/src/pages/index.tsx
  sandbox/tsconfig.json
  yarn.lock
Labels: none

1.0.12
  packages/components/CHANGELOG.md
  packages/components/UPGRADE_GUIDE.md
  packages/components/package.json
Labels: none

1.0.13
  packages/babel-plugin-transform-vanilla-extract-imports/src/index.js
  packages/components/CHANGELOG.md
  packages/components/UPGRADE_GUIDE.md
  packages/components/package.json
  packages/components/rollup.config.mjs
Labels: none

1.0.14
  packages/components/CHANGELOG.md
  packages/components/UPGRADE_GUIDE.md
  packages/components/package.json
  sandbox/package.json
  yarn.lock
Labels: none

Get multiple themes working
  packages/components/src/breakpoints.ts
  packages/components/src/colors.ts
  packages/components/src/defaultTheme.ts
  packages/components/src/fontSizes.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
  packages/components/src/vars.css.ts
  packages/components/src/vars.md
  sandbox/app/layout.tsx
  sandbox/app/theme.css.ts
  sandbox/package.json
  sandbox/rollup.config.mjs
  sandbox/styles/app/theme.css
  sandbox/styles/theme.js
  yarn.lock
Labels: none

Fix tests
  packages/components/src/__tests__/Box.test.tsx
Labels: ğŸ§ª Tests

Get multiple themes working (#97)
  packages/components/src/__tests__/Box.test.tsx
  packages/components/src/breakpoints.ts
  packages/components/src/colors.ts
  packages/components/src/defaultTheme.ts
  packages/components/src/fontSizes.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
  packages/components/src/vars.css.ts
  packages/components/src/vars.md
  sandbox/app/layout.tsx
  sandbox/app/theme.css.ts
  sandbox/package.json
  sandbox/rollup.config.mjs
  sandbox/styles/app/theme.css
  sandbox/styles/theme.js
  yarn.lock
Labels: ğŸ§ª Tests

1.0.15
  packages/components/CHANGELOG.md
  packages/components/UPGRADE_GUIDE.md
  packages/components/package.json
Labels: none

1.0.16
  packages/components/CHANGELOG.md
  packages/components/UPGRADE_GUIDE.md
  packages/components/package.json
  packages/components/src/Checkbox/Checkbox.css.ts
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/RadioButton/RadioButton.css.ts
  packages/components/src/RadioButton/RadioButton.tsx
Labels: none

1.0.17
  packages/components/CHANGELOG.md
  packages/components/UPGRADE_GUIDE.md
  packages/components/package.json
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/RadioButton/RadioButton.tsx
Labels: none

Fix lingering client components
  packages/components/CHANGELOG.md
  packages/components/README.md
  packages/components/UPGRADE_GUIDE.md
  packages/components/package.json
  packages/components/src/Input/Input.tsx
  packages/components/src/RadioInput/RadioInput.tsx
  packages/components/src/Textarea/Textarea.tsx
  packages/components/src/ToggleInput/ToggleInput.tsx
Labels: ğŸ“š Documentation

Lets a go
  packages/components-daisyui/src/Banner/Banner.tsx
  packages/components-daisyui/src/Banner/readme.md
  packages/components-daisyui/src/Blockquote/Blockquote.css.ts
  packages/components-daisyui/src/Blockquote/Blockquote.tsx
  packages/components-daisyui/src/Button/Button.css.ts
  packages/components-daisyui/src/Button/Button.tsx
  packages/components-daisyui/src/Checkbox/Checkbox.tsx
  packages/components-daisyui/src/ToggleInput/ToggleInput.tsx
  packages/components-daisyui/src/VisuallyHidden/VisuallyHidden.tsx
  sandbox/app/(daisyui)/testing/interactive.tsx
  sandbox/app/(daisyui)/testing/page.tsx
  sandbox/next.config.js
  sandbox/tailwind.config.js
Labels: none

Chip, Dropdown stuff
  packages/components-daisyui/README.md
  packages/components-daisyui/src/Chip/Chip.css.ts
  packages/components-daisyui/src/Chip/Chip.tsx
  packages/components-daisyui/src/Dropdown/Dropdown.tsx
  sandbox/app/(daisyui)/testing/page.tsx
Labels: none

Things are working again, mostly RSC complete
  packages/components-daisyui/package.json
  packages/components-daisyui/src/Banner/Banner.tsx
  packages/components-daisyui/src/Banner/index.ts
  packages/components-daisyui/src/Blockquote/Blockquote.tsx
  packages/components-daisyui/src/Blockquote/index.ts
  packages/components-daisyui/src/Box/Box.tsx
  packages/components-daisyui/src/Box/index.ts
  packages/components-daisyui/src/Button/Button.tsx
  packages/components-daisyui/src/Button/index.ts
  packages/components-daisyui/src/Checkbox/Checkbox.css.ts
  packages/components-daisyui/src/Checkbox/index.ts
  packages/components-daisyui/src/Chip/Chip.tsx
  packages/components-daisyui/src/Chip/index.ts
  packages/components-daisyui/src/Fieldset/Fieldset.css.ts
  packages/components-daisyui/src/Fieldset/Fieldset.tsx
  packages/components-daisyui/src/Fieldset/index.ts
  packages/components-daisyui/src/Figure/Figure.css.ts
  packages/components-daisyui/src/Figure/Figure.tsx
  packages/components-daisyui/src/Figure/index.ts
  packages/components-daisyui/src/GitHubMention/GitHubMention.tsx
  packages/components-daisyui/src/Image/Image.css.ts
  packages/components-daisyui/src/Image/Image.tsx
  packages/components-daisyui/src/Image/index.ts
  packages/components-daisyui/src/Tapable/Tapable.tsx
  packages/components-daisyui/src/Tapable/index.ts
  packages/components-daisyui/src/classnames.ts
  packages/components-daisyui/src/index.ts
  sandbox/app/(daisyui)/layout.tsx
  sandbox/app/(daisyui)/testing/page.tsx
  sandbox/package.json
  yarn.lock
Labels: none

Heading
  packages/components-daisyui/src/Heading/Heading.css.ts
  packages/components-daisyui/src/Heading/Heading.tsx
  packages/components-daisyui/src/Heading/index.ts
  sandbox/app/(daisyui)/testing/page.tsx
Labels: none

InlineCode, Input
  packages/components-daisyui/README.md
  packages/components-daisyui/src/GitHubMention/index.ts
  packages/components-daisyui/src/InlineCode/InlineCode.css.ts
  packages/components-daisyui/src/InlineCode/InlineCode.tsx
  packages/components-daisyui/src/InlineCode/index.ts
  packages/components-daisyui/src/Input/Input.css.ts
  packages/components-daisyui/src/Input/Input.tsx
  packages/components-daisyui/src/Input/index.ts
  sandbox/app/(daisyui)/testing/interactive.tsx
  sandbox/app/(daisyui)/testing/page.tsx
Labels: none

links
  packages/components-daisyui/src/Link/Link.css.ts
  packages/components-daisyui/src/Link/Link.tsx
  packages/components-daisyui/src/Link/index.ts
  sandbox/app/(daisyui)/layout.tsx
  sandbox/app/(daisyui)/testing/page.tsx
Labels: none

List, ListItem, Link, Portal, RadioButton
  packages/components-daisyui/README.md
  packages/components-daisyui/src/Link/index.ts
  packages/components-daisyui/src/List/List.css.ts
  packages/components-daisyui/src/List/List.tsx
  packages/components-daisyui/src/List/index.ts
  packages/components-daisyui/src/ListItem.ts
  packages/components-daisyui/src/ListItem/ListItem.tsx
  packages/components-daisyui/src/ListItem/index.ts
  packages/components-daisyui/src/Portal/Portal.tsx
  packages/components-daisyui/src/Portal/index.ts
  packages/components-daisyui/src/RadioButton/RadioButton.css.ts
  packages/components-daisyui/src/RadioButton/RadioButton.tsx
  packages/components-daisyui/src/RadioButton/index.ts
  sandbox/app/(daisyui)/testing/interactive.tsx
  sandbox/app/(daisyui)/testing/page.tsx
  sandbox/next.config.js
Labels: none

Text and Textarea
  packages/components-daisyui/README.md
  packages/components-daisyui/src/Input/Input.tsx
  packages/components-daisyui/src/Text/Text.tsx
  packages/components-daisyui/src/Text/index.ts
  packages/components-daisyui/src/Textarea/Textarea.css.ts
  packages/components-daisyui/src/Textarea/Textarea.tsx
  packages/components-daisyui/src/Textarea/index.ts
  sandbox/app/(daisyui)/testing/interactive.tsx
Labels: none

VisuallyHidden, twittermention
  packages/components-daisyui/src/TwitterMention/TwitterMention.tsx
  packages/components-daisyui/src/TwitterMention/index.ts
  packages/components-daisyui/src/VisuallyHidden/VisuallyHidden.css.ts
  packages/components-daisyui/src/VisuallyHidden/VisuallyHidden.tsx
  packages/components-daisyui/src/VisuallyHidden/index.ts
  sandbox/app/(daisyui)/testing/page.tsx
Labels: none

Cleanup
  packages/components-daisyui/src/RadioInput/RadioInput.tsx
  packages/components-daisyui/src/RadioInput/index.ts
  packages/components-daisyui/src/ToggleInput/index.ts
  packages/components-daisyui/src/breakpoints.ts
  packages/components-daisyui/src/colors.ts
  packages/components-daisyui/src/defaultTheme.ts
  packages/components-daisyui/src/fontSizes.ts
  packages/components-daisyui/src/index.ts
  packages/components-daisyui/src/reset.css.ts
  packages/components-daisyui/src/theme.md
  packages/components-daisyui/src/theme.ts
  packages/components-daisyui/src/themeClass.ts
  packages/components-daisyui/src/vars.css.ts
  packages/components-daisyui/src/vars.md
Labels: none

Fixing some things
  packages/daisyui/CHANGELOG.md
  packages/daisyui/README.md
  packages/daisyui/src/Box/system-props.css.ts
  packages/daisyui/src/Dropdown/Dropdown.css.ts
  packages/daisyui/src/Label/Label.css.ts
  packages/daisyui/src/Label/Label.tsx
  packages/daisyui/src/Label/index.ts
  packages/daisyui/src/Label/readme.md
  packages/daisyui/src/index.ts
Labels: none

Fix radiobutton
  packages/daisyui/src/RadioButton/RadioButton.tsx
  sandbox/app/(daisyui)/layout.tsx
Labels: none

Tests
  packages/daisyui/src/__tests__/Box.test.tsx
  packages/daisyui/src/__tests__/exports.test.tsx
Labels: none

Todos
  packages/daisyui/README.md
Labels: none

Format
  packages/daisyui/README.md
Labels: none

Update README.md
  packages/daisyui/README.md
Labels: none

Fix classnames export
  packages/daisyui/CHANGELOG.md
  packages/daisyui/UPGRADE_GUIDE.md
  packages/daisyui/package.json
  packages/daisyui/src/classnames.ts
Labels: none

Fix classnames
  packages/daisyui/CHANGELOG.md
  packages/daisyui/UPGRADE_GUIDE.md
  packages/daisyui/package.json
  packages/daisyui/src/index.ts
Labels: none

Fix order of operations
  packages/daisyui/CHANGELOG.md
  packages/daisyui/UPGRADE_GUIDE.md
  packages/daisyui/package.json
  packages/daisyui/src/Blockquote/Blockquote.tsx
  packages/daisyui/src/Button/Button.tsx
  packages/daisyui/src/Chip/Chip.tsx
  packages/daisyui/src/Dropdown/Dropdown.tsx
  packages/daisyui/src/Heading/Heading.tsx
  packages/daisyui/src/Image/Image.tsx
  packages/daisyui/src/InlineCode/InlineCode.tsx
  packages/daisyui/src/Link/Link.tsx
  packages/daisyui/src/List/List.tsx
  packages/daisyui/src/__tests__/Header.test.tsx
  packages/daisyui/src/index.ts
  packages/daisyui/src/useTapable.tsx
Labels: none

Uggghhhhh
  packages/daisyui/CHANGELOG.md
  packages/daisyui/UPGRADE_GUIDE.md
  packages/daisyui/package.json
Labels: none

Add stack, fix exports
  .codesandbox/ci.json
  packages/daisyui/CHANGELOG.md
  packages/daisyui/UPGRADE_GUIDE.md
  packages/daisyui/package.json
  packages/daisyui/src/Stack/Stack.css.ts
  packages/daisyui/src/Stack/Stack.tsx
  packages/daisyui/src/Stack/index.ts
  packages/daisyui/src/Stack/readme.md
  packages/daisyui/src/index.ts
  sandbox/app/(daisyui)/layout.tsx
  sandbox/app/(daisyui)/testing/page.tsx
Labels: none

Fix type exports
  packages/daisyui/CHANGELOG.md
  packages/daisyui/README.md
  packages/daisyui/UPGRADE_GUIDE.md
  packages/daisyui/package.json
  packages/daisyui/src/GitHubMention/GitHubMention.tsx
  packages/daisyui/src/Portal/Portal.tsx
  packages/daisyui/src/Textarea/Textarea.tsx
  packages/daisyui/src/classnames.ts
  packages/daisyui/src/index.ts
Labels: none

.github/labeler.yml:

ğŸ“š Documentation:
  - docs/*
  - docs/**/*
  - README.md
  - packages/components/README.md
ğŸ§ª Tests:
  - packages/components/src/__tests__/*
  - packages/components/src/__tests__/**/*
  - packages/components/src/test
