Repository ds-pack/components, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š Documentation, ğŸ§ª Tests

Export named props objects, RadioButton, RadioInput components
  docs/components/RadioButton.md
  packages/components/src/Banner.tsx
  packages/components/src/Blockquote.tsx
  packages/components/src/Box.tsx
  packages/components/src/Button.tsx
  packages/components/src/Checkbox.tsx
  packages/components/src/Chip.tsx
  packages/components/src/Figure.tsx
  packages/components/src/GitHubMention.tsx
  packages/components/src/Heading.tsx
  packages/components/src/Image.tsx
  packages/components/src/InlineCode.tsx
  packages/components/src/Input.tsx
  packages/components/src/Label.tsx
  packages/components/src/Link.tsx
  packages/components/src/List.tsx
  packages/components/src/RadioButton.tsx
  packages/components/src/RadioInput.tsx
  packages/components/src/Stack.tsx
  packages/components/src/Tapable.tsx
  packages/components/src/Text.tsx
  packages/components/src/Textarea.tsx
  packages/components/src/ThemeProvider.tsx
  packages/components/src/ToggleInput.tsx
  packages/components/src/TwitterMention.tsx
  packages/components/src/VisuallyHidden.tsx
  packages/components/src/__tests__/RadioInput.test.tsx
  packages/components/src/__tests__/exports.test.tsx
  packages/components/src/index.tsx
  packages/components/src/useTapable.tsx
  packages/example/src/App.js
Labels: ğŸ“š Documentation, ğŸ§ª Tests

Version
  packages/components/package.json
Labels: none

Fix pseudo props showing up in html
  packages/components/package.json
  packages/components/src/Box.tsx
Labels: none

Add support for transform
  packages/components/package.json
  packages/components/src/Box.tsx
Labels: none

Move Dropdown and Portal into components package
  packages/components/package.json
  packages/components/src/Dropdown.tsx
  packages/components/src/Portal.tsx
  packages/components/src/__tests__/exports.test.tsx
  packages/components/src/index.tsx
  packages/example/package.json
  packages/example/src/App.js
  yarn.lock
Labels: ğŸ§ª Tests

Support pseudo
  packages/components/package.json
  packages/components/src/Box.tsx
Labels: none

remove theme
  packages/components/src/Button.stories.tsx
Labels: none

Automatic jsx runtime
  packages/components/babel.config.js
  packages/components/src/Banner.tsx
  packages/components/src/Blockquote.tsx
  packages/components/src/Box.tsx
  packages/components/src/Button.tsx
  packages/components/src/Checkbox.tsx
  packages/components/src/Chip.tsx
  packages/components/src/Dropdown.tsx
  packages/components/src/Figure.tsx
  packages/components/src/GitHubMention.tsx
  packages/components/src/Heading.tsx
  packages/components/src/Image.tsx
  packages/components/src/InlineCode.tsx
  packages/components/src/Input.tsx
  packages/components/src/Label.tsx
  packages/components/src/List.tsx
  packages/components/src/RadioButton.tsx
  packages/components/src/RadioInput.tsx
  packages/components/src/Stack.tsx
  packages/components/src/Tapable.tsx
  packages/components/src/Text.tsx
  packages/components/src/Textarea.tsx
  packages/components/src/ThemeProvider.tsx
  packages/components/src/ToggleInput.tsx
  packages/components/src/TwitterMention.tsx
  packages/components/src/VisuallyHidden.tsx
Labels: none

bump to 0.0.19
  packages/components/package.json
Labels: none

Update root readme
  README.md
Labels: ğŸ“š Documentation

Update snap
  packages/components/src/__tests__/Box.test.tsx
Labels: ğŸ§ª Tests

Add release docs
  packages/components/README.md
Labels: ğŸ“š Documentation

Type refinement
  packages/components/src/Reset.tsx
  packages/components/types/styled.d.ts
Labels: none

Fieldset, prettier change
  packages/components/src/Fieldset.tsx
  packages/components/src/__tests__/exports.test.tsx
  packages/components/src/index.tsx
  packages/example/src/App.js
  prettier.config.js
Labels: ğŸ§ª Tests

Implement banner, blockquote, Box, button
  packages/experimental-components/package.json
  packages/experimental-components/src/Banner/Banner.css.ts
  packages/experimental-components/src/Banner/Banner.tsx
  packages/experimental-components/src/Blockquote/Blockquote.css.ts
  packages/experimental-components/src/Blockquote/Blockquote.tsx
  packages/experimental-components/src/Box/Box.css.ts
  packages/experimental-components/src/Box/Box.tsx
  packages/experimental-components/src/Box/system-props.ts
  packages/experimental-components/src/Button/Button.css.ts
  packages/experimental-components/src/Button/Button.tsx
  packages/experimental-components/src/Reset.tsx
  packages/experimental-components/src/ThemeProvider.tsx
  packages/experimental-components/src/classnames.ts
  packages/experimental-components/src/index.ts
  packages/experimental-components/src/reset.css.ts
  packages/experimental-components/src/theme.ts
  packages/experimental-components/src/theme.tsx
  packages/experimental-components/src/useTheme.tsx
  packages/experimental-components/src/vars.css.ts
Labels: none

Use node 16 in codesandbox CI
  .codesandbox/ci.json
  yarn.lock
Labels: none

Add back babel for jest
  packages/experimental-components/babel.config.js
  packages/experimental-components/jest.config.js
  packages/experimental-components/package.json
  packages/experimental-components/src/theme.ts
  yarn.lock
Labels: none

Remove build scripts
  packages/experimental-components/scripts/build.js
Labels: none

WIP
  packages/experimental-components/README.md
  packages/experimental-components/src/Textarea/Textarea.tsx
  packages/experimental-components/src/VisuallyHidden/VisuallyHidden.css.ts
  packages/experimental-components/src/VisuallyHidden/VisuallyHidden.tsx
Labels: none

Textarea
  packages/experimental-components/src/Textarea/Textarea.css.ts
  packages/experimental-components/src/Textarea/Textarea.tsx
Labels: none

Codesandbox
  .codesandbox/ci.json
Labels: none

Convert chip
  packages/experimental-components/src/Chip/Chip.css.ts
  packages/experimental-components/src/Chip/Chip.tsx
Labels: none

Dropdown
  packages/experimental-components/src/Dropdown/Dropdown.css.ts
  packages/experimental-components/src/Dropdown/Dropdown.tsx
Labels: none

Fieldset
  packages/experimental-components/src/Fieldset/Fieldset.css.ts
  packages/experimental-components/src/Fieldset/Fieldset.tsx
Labels: none

Convert all others
  packages/experimental-components/src/Box/Box.tsx
  packages/experimental-components/src/Heading/Heading.css.ts
  packages/experimental-components/src/Heading/Heading.tsx
  packages/experimental-components/src/Image/Image.css.ts
  packages/experimental-components/src/Image/Image.tsx
  packages/experimental-components/src/InlineCode/InlineCode.css.ts
  packages/experimental-components/src/InlineCode/InlineCode.tsx
  packages/experimental-components/src/Input/Input.css.ts
  packages/experimental-components/src/Input/Input.tsx
  packages/experimental-components/src/Label/Label.css.ts
  packages/experimental-components/src/Label/Label.tsx
  packages/experimental-components/src/Link/Link.css.ts
  packages/experimental-components/src/Link/Link.tsx
  packages/experimental-components/src/List/List.css.ts
  packages/experimental-components/src/List/List.tsx
  packages/experimental-components/src/Portal/Portal.tsx
  packages/experimental-components/src/RadioButton/RadioButton.css.ts
  packages/experimental-components/src/RadioButton/RadioButton.tsx
  packages/experimental-components/src/Stack/Stack.css.ts
  packages/experimental-components/src/Stack/Stack.tsx
  packages/experimental-components/src/TwitterMention/TwitterMention.tsx
Labels: none

Docs, demo
  docs/components/Box.md
  docs/components/Chip.md
  docs/components/Reset.md
  docs/components/ThemeProvider.md
  docs/hooks/useTheme.md
  docs/readme.md
  packages/experimental-components/README.md
  packages/experimental-components/src/Banner/readme.md
  packages/experimental-components/src/Blockquote/readme.md
  packages/experimental-components/src/Box/Box.tsx
  packages/experimental-components/src/Box/readme.md
  packages/experimental-components/src/Button/readme.md
  packages/experimental-components/src/Checkbox/readme.md
  packages/experimental-components/src/Chip/readme.md
  packages/experimental-components/src/Figure/Figure.css.ts
  packages/experimental-components/src/Figure/Figure.tsx
  packages/experimental-components/src/Figure/readme.md
  packages/experimental-components/src/GitHubMention/readme.md
  packages/experimental-components/src/Heading/readme.md
  packages/experimental-components/src/Image/readme.md
  packages/experimental-components/src/InlineCode/readme.md
  packages/experimental-components/src/Input/readme.md
  packages/experimental-components/src/Label/readme.md
  packages/experimental-components/src/Link/readme.md
  packages/experimental-components/src/List/readme.md
  packages/experimental-components/src/RadioButton/readme.md
  packages/experimental-components/src/Stack/readme.md
  packages/experimental-components/src/Tapable/readme.md
  packages/experimental-components/src/Text/readme.md
  packages/experimental-components/src/Textarea/Textarea.css.ts
  packages/experimental-components/src/Textarea/readme.md
  packages/experimental-components/src/ToggleInput/readme.md
  packages/experimental-components/src/TwitterMention/readme.md
  packages/experimental-components/src/VisuallyHidden/readme.md
  packages/experimental-components/src/useTapable.md
  sandbox/src/pages/index.tsx
Labels: ğŸ“š Documentation

Version
  packages/experimental-components/package.json
Labels: none

Workflow
  .github/workflows/publish.yml
  .github/workflows/test.yml
  package.json
Labels: none

Fix
  package.json
Labels: none

Another fix
  .github/workflows/test.yml
Labels: none

Ugh
  .github/workflows/test.yml
Labels: none

Fix snap
  packages/experimental-components/src/__tests__/Box.test.tsx
Labels: none

Docs
  packages/experimental-components/README.md
  packages/experimental-components/src/Box/readme.md
  packages/experimental-components/src/theme.md
  packages/experimental-components/src/theme.ts
  packages/experimental-components/src/vars.css.ts
Labels: none

More docs
  packages/experimental-components/README.md
Labels: none

Type enhancement
  packages/experimental-components/README.md
  packages/experimental-components/src/Banner/Banner.tsx
  packages/experimental-components/src/Blockquote/Blockquote.tsx
  packages/experimental-components/src/Box/Box.tsx
  packages/experimental-components/src/Button/Button.tsx
  packages/experimental-components/src/Checkbox/Checkbox.tsx
  packages/experimental-components/src/Chip/Chip.tsx
  packages/experimental-components/src/Dropdown/Dropdown.tsx
  packages/experimental-components/src/Fieldset/Fieldset.tsx
  packages/experimental-components/src/Figure/Figure.tsx
  packages/experimental-components/src/GitHubMention/GitHubMention.tsx
  packages/experimental-components/src/Heading/Heading.tsx
  packages/experimental-components/src/Image/Image.tsx
  packages/experimental-components/src/InlineCode/InlineCode.tsx
  packages/experimental-components/src/Input/Input.tsx
  packages/experimental-components/src/Label/Label.tsx
  packages/experimental-components/src/Link/Link.tsx
  packages/experimental-components/src/List/List.tsx
  packages/experimental-components/src/RadioButton/RadioButton.tsx
  packages/experimental-components/src/RadioInput/RadioInput.tsx
  packages/experimental-components/src/Stack/Stack.tsx
  packages/experimental-components/src/Tapable/Tapable.tsx
  packages/experimental-components/src/Text/Text.tsx
  packages/experimental-components/src/Textarea/Textarea.tsx
  packages/experimental-components/src/ToggleInput/ToggleInput.tsx
  packages/experimental-components/src/TwitterMention/TwitterMention.tsx
  packages/experimental-components/src/VisuallyHidden/VisuallyHidden.tsx
Labels: none

Fix responsive props
  packages/experimental-components/src/Box/system-props.ts
  sandbox/src/pages/index.tsx
Labels: none

bump
  packages/experimental-components/package.json
Labels: none

Update breakpoints
  packages/experimental-components/package.json
  packages/experimental-components/src/theme.ts
Labels: none

Cleanup
  packages/experimental-components/package.json
  packages/experimental-components/src/Dropdown/Dropdown.tsx
  yarn.lock
Labels: none

Build for other envs
  .gitignore
  packages/experimental-components/README.md
  packages/experimental-components/package.json
  packages/experimental-components/scripts/build.js
  yarn.lock
Labels: none

.github/labeler.yml:

ğŸ“š Documentation:
  - docs/*
  - docs/**/*
  - README.md
  - packages/components/README.md
ğŸ§ª Tests:
  - packages/components/src/__tests__/*
  - packages/components/src/__tests__/**/*
  - packages/components/src/test
